*{
   margin :0;
  padding :0;
     box-sizing: border-box;
     font-family: 'Times New Roman', Times, serif, Helvetica Neue, Arial, sans-serif;
     font-weight: 400;
    
}

header{
    margin: 0;
    display: flex;
    width:100%;
    height :55px;
    background-color: #00132c;
    align-items: center;
    justify-content: space-around;
    border-bottom: 4px solid #7b8590;
}

.bch_logo{
    
    height :50px;
}

.dropdown_container{
    width :30%;
   display: flex;
   justify-content: space-evenly;
    margin: 10px 5px;
}

.search_bar{
    border: none;
    display: flex;
    width :30%;
    height :30px;
   min-width: 150px;
   font-size: 15px;
   font-family: cursive;
}
.search_icon{
    COLOR : BLUE;
    font-size: 8vmin;
    background-color:#e6ecf3;
    border: none;
}
.menubar{
    display: none;
}
.menubar span{
    color: rgb(118, 165, 215);
    font-size: 3vmin;
    font-weight: 600;
    display: none;
    align-self: center;
}

p span{
    font-weight: 800;
}

#bc_container a{
    text-decoration: none;
}

.bc-10min{
    margin-top: 8%;
}

#bc_container{
    margin :5% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pinfo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color :#000;
    font-weight: 500;
}
#bc_container .wht-button{
    background-color: #b9cbe1;
    font-weight: 900;
}
#bc_container .wht-button{
    margin :3vmin 0;
}

input{
    border: none;
}
.search_bar {
    
    border: none;
}
.search_bar .search_icon{
    border: none;
}
@media screen and (max-width : 1050px) {
    header{
        display: flex;
        width :100%;
    }
    .menubar{
        display: block;
        width : 2vmin;
    }
    .dspaces{
        visibility: hidden;
        font-size: 2vw;
    }
  
    
    .menubar span{
        left :0vh;
        top: 1.0vh;
        display: block;
        position:absolute;
        left: 2vh;
        font-size: 10vmin;
    }
    .search_bar{
        border: none;
         z-index: 1;
        position: absolute;
        left : 8vh;
        width :1vw;
       flex-grow: 1;
    }
    .bch_logo{
        display: none;
    }
    .rhead{
        margin : 0 3%;
    }
    .action_bar {
        display: flex;
        width :0.6%;
        position: relative;
        margin-left: 0vh;
        justify-content :right;
        font-size: 3.5vw;
    }
    .action_bar a span {
       font-size: 6vmin;
    }

    
    .action_bar a .action_name{
        display: none;
    } 
    .search_input{
        border: none;
        width:35vmin;
    }
    #elements .tech{
        flex-direction: column;
    }

    footer .col-2{
       flex-direction: column;
    }
    #elements .ele_img{
    align-self: center;
    margin-bottom :5%;
    width : 30vmin;
    height: 30vmin;
    }

    footer .col-1 p span{
        display: none;
        
    }
    footer .col-1 p{
        font-size: 0.8em;
    }

}

.dspaces{
    margin : 0 10px;
}

placeholder{
    border: none;
}
.search_input{
    color: #545b62;
     width:35vmin;
    font-family:'Times New Roman', Times, serif;
    flex-grow: 1;
    border: none;
}

.action_bar{
    font-size: 12px;
   
}

.action_bar a{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    color :#e0d6d6;
    text-decoration: none;
}

.banner{
    margin :20px 0;
    background-color :#051e39;
    background-image: url(images/banner.png);
   
}
.banner_vid
{ 
    margin-left:10%;
        width:80%;
   
}

body{
    background : linear-gradient(to right,#2b40ff, #286089);
    color :#fff;
}
.mainqs{
    z-index: 1;
    font-size: 10vmin;
    position: absolute;
    top :15%;
    left :5%;
    font-family: cursive;
    color: aqua;
}
main h1{
  
    text-align: center;
    font-weight: 500;
    margin-bottom: 3%;
}

main p{
    margin :2% 10%;
    font-size: 1.1rem;
    font-weight: 300;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main h3{
    text-align: center;
    font-weight: 400;
    margin-bottom: 3%;
}


#elements{
    margin :10vmin 3vmin;
    display: flex;
    flex-direction: column;
    
}
 .tech{
    display: flex;
    margin : 10vmin 0;
}

#type-of-bc{
    margin: 5vmin 0;
}
footer{
   
    background-color: rgb(19, 31 ,34);
    display: flex;
}

a{
    align-self: center;
}
 #explore-crypto{
align-self: center;
font-weight: 900;
font-size: 3vmin;
cursor: pointer;
 width :50vmin;
 height:10vmin;
text-shadow: #1358b1;
color:#77afeb;
background-color:rgb(19, 31 ,34) ;
}
footer .col-1 h1
{
    margin :5vmin 2vmin;
}

footer .col-1 p
{
    margin :2vmin 3vmin;
}
footer .col-1 p span{
    font-weight: normal;
}

footer .col-1{
    width :70%;
}

footer .logo-container{
    width: 40vmin;
    display: flex;
    justify-content: space-between;
    margin: 5vmin 0 5vmin 3vmin ;
}

footer .logo-container a{
    color :rgb(213, 225, 227, 0.616);
}
footer .logo-container i{
    font-weight: bold;
    font-size: 5vmin;
}

footer .col-2{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}

footer .col-2 .box a{
    text-decoration: none;
    color: #fff;
}
footer .col-2 .box{
    font-size: 3vmin;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 4vmin;
   padding: 5vmin 0;
   box-sizing: border-box;
   justify-content: space-between;
    border-radius:  0 5vmin 0 5vmin;
  margin: 1vmin 5vmin;
   height: 20vmin;
   width: 20vmin;
   background-color:#315864;
}

/* rgb(38 47 45) */

/* #17262b */
